<div class="container">
  <div class="mat-display-3 bg-primary">TESTO</div>
  <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
  <div class="row">
    <div class="col-lg-6">
      <div class="example-button-row">
      <button mat-flat-button class="me-2">Basic</button>
      <button mat-flat-button color="primary" class="me-2">Primary</button>
      <button mat-flat-button color="accent" class="me-2">Accent</button>
      <button mat-flat-button color="warn" class="me-2">Warn</button>
      <button mat-flat-button disabled class="me-2">Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div></div>
    <div class="col-lg-6">Testo Colonna 2</div>
  </div>
  <section>ng

  </section>
</div>
