// per creare la tua palette puoi usare http://mcg.mbitson.com
$custom-primary: (
  50 : #e0edf9,
  100 : #b3d1f0,
  200 : #80b3e6,
  300 : #4d94db,
  400 : #267dd4,
  500 : #0066cc,
  600 : #005ec7,
  700 : #0053c0,
  800 : #0049b9,
  900 : #0038ad,
  A100 : #d7e1ff,
  A200 : #a4baff,
  A400 : #7194ff,
  A700 : #5881ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-accent: (
  50 : #ebeef0,
  100 : #ced4da,
  200 : #aeb7c1,
  300 : #8d9aa8,
  400 : #748595,
  500 : #5c6f82,
  600 : #54677a,
  700 : #4a5c6f,
  800 : #415265,
  900 : #304052,
  A100 : #a1ccff,
  A200 : #6eb0ff,
  A400 : #3b94ff,
  A700 : #2186ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$custom-danger: (
  50 : #fae7ea,
  100 : #f4c3ca,
  200 : #ec9ba7,
  300 : #e47284,
  400 : #df5469,
  500 : #d9364f,
  600 : #d53048,
  700 : #cf293f,
  800 : #ca2236,
  900 : #c01626,
  A100 : #fff2f3,
  A200 : #ffbfc4,
  A400 : #ff8c95,
  A700 : #ff737d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-success: (
  50 : #e0f1eb,
  100 : #b3dbcd,
  200 : #80c3ac,
  300 : #4dab8a,
  400 : #269971,
  500 : #008758,
  600 : #007f50,
  700 : #007447,
  800 : #006a3d,
  900 : #00572d,
  A100 : #89ffbb,
  A200 : #56ff9d,
  A400 : #23ff80,
  A700 : #09ff71,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-warning: (
  50 : #f4ece0,
  100 : #e4d0b3,
  200 : #d3b180,
  300 : #c1924d,
  400 : #b37a26,
  500 : #a66300,
  600 : #9e5b00,
  700 : #955100,
  800 : #8b4700,
  900 : #7b3500,
  A100 : #ffc7a8,
  A200 : #ffa675,
  A400 : #ff8542,
  A700 : #ff7429,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-info: (
  50 : #f3f3f3,
  100 : #e0e0e0,
  200 : #cbcccc,
  300 : #b6b7b8,
  400 : #a7a7a8,
  500 : #979899,
  600 : #8f9091,
  700 : #848586,
  800 : #7a7b7c,
  900 : #696a6b,
  A100 : #e8f2fd,
  A200 : #bad9f8,
  A400 : #7fbfff,
  A700 : #66b2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
